@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

@import "./form-contol";
@import "./panels-container";
@import "./media-870";
@import "./media-570";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
  }

  .btn {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #5995fd;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;

    &.transparent {
      margin: 0;
      background: none;
      border: 2px solid #fff;
      width: 130px;
      height: 40px;
      font-weight: 600;
      font-size: 0.8rem;
    }

    &:hover {
      background-color: #4db4e2;
    }
  }

  @include form-control;
  @include panels-container;

  &.sign-up-mode {
    .signin-signup {
      left: 25%;
    }

    .sign-in-form {
      z-index: 1 !important;
      opacity: 0;
    }

    .sign-up-form {
      z-index: 2 !important;
      opacity: 1 !important;
    }

    .left-panel {
      pointer-events: none !important;
      .image,
      .content {
        transform: translateX(-800px);
      }
    }

    .right-panel {
      pointer-events: all !important;
      .image,
      .content {
        transform: translateY(0) !important;
      }
    }
    &::before {
      transform: translate(100%, -50%);
      bottom: 52%;
    }
  }
}

@include media-870;
@include media-570;
